/*body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
} */


.cube {
    position: relative;
    left: 35%;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate 5s linear infinite;
    margin-top: 120px;
  }

  @keyframes animate {
    0% {
      transform: rotateX(-30deg) rotateY(0deg);
    }
    100% {
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }

  .cube-text span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-family: 'DigitalFont', Arial, sans-serif;
  }

  .top span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-family: 'DigitalFont', Arial, sans-serif; 

    }

  .bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 300px;
    transform: rotateX(90deg) translateZ(-230px);
    opacity: 0.03;
    }
    
  .bottom span {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 10em;
    font-family: 'DigitalFont', Arial, sans-serif; 
    color: white;
    }

  .cube div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }

  .cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#070707, rgb(49, 65, 155));
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
  }
  
  .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px)
  }
  
  .top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: rgb(30, 44, 172);
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
    0 0 200px rgba(0, 255, 0, 0.4),
    0 0 300px rgba(0, 255, 0, 0.6),
    0 0 400px rgba(0, 255, 0, 0.8),
    0 0 500px rgba(0, 255, 0, 1);
  }

  
  
  
