

.counter-container {
    text-align: center;
}
.counter-display{
   font-size: 7em;
   margin-top: 0;
   margin-bottom: 50px; 
   font-family: 'DigitalFont', Arial, sans-serif;  
}
.counter-button{
    width: 130px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    margin: 0px 5px;
    background-color: hsl(197, 100%, 58%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
body.homepage {background-color: red;}